body {
	font-size: small; /* 新的属性值，请自行了解 */
	font-family: Verdana， Helvetica， Arial;
  line-height: 1.6em;
}

h1, h2 {
	color: #007e7e; /* 将标题设置为一种青绿色，使他和 logo 更相合 */
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}

.elixirs h2{
  color: black;
}
.elixirs h3{
  color: #d12c47;
}

#guarantee {
  border-color: white;
  border-width: 1px;
  border-style: dashed;
  background-color: #a7cece;
  padding: 25px; /* 新增内边距 */
  margin: 30px; /*新增外边距*/
  line-height: 1.9em;
  font-style: italic;
  color: #444;
  font-family: Georgia, 'Times New Roman';
  background-image: url(images/background.gif);
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 80px;
  margin-right: 250px;
}

.elixirs{
  border: thin solid #007e7e;
  width: 200px;
  padding: 0px 20px 20px 20px;
  margin-left: 20px;
  background-image: url(images/cocktail.gif) repeat-x;
  text-align: center;
  line-height: 1;
}

.cd {
  font-style: italic;
}

.artist {
  font-weight: bold;
}

a:link {
  color: green;
}

a:visited {
  color: red;
}

a:hover {
  color: yellow;
}
div.elixirs{
  float: right;
}